<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>jorgeqlt</title>
    <style>
        .labels{
            min-width: 100px;
        }
    </style>
</head>
<body>
    <form action="">
        <div class="labels">name:</div> 
        <input type="text" name="name"><br>
        <div class="labels">amount:</div>
        <input type="text" name="amount"><br>
        <div class="labels">unit:</div>
        <input type="text" name="unit"><br>
        <div class="labels">air polition:</div> 
        <input type="text" name="air"><br>
        <div class="labels">water polution:</div> 
        <input type="text" name="water"><br>
        <div class="labels">garbage:</div> 
        <input type="text" name="garbage"><br>
        <div class="labels">grade:</div> 
        <input type="number" name="grade"><br>
        <input type="submit" value="subirs">
    </form>
    <header>
        <div class="logo"></div>
        <div class="title"></div>
        <div class="sections-buttons"></div>
    </header>
    <section class="main-section">
        <div class="searcher"></div>
    </section>
    <footer>
        <div class="row"></div>
    </footer>
</body>
</html>